/* layout setup */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

.total-layout{
   max-width: 1440px;
   margin: 0 auto;
}

/* navbar section */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #feffff;
    height: 80px;
    /* border: 1px solid greenyellow; */
}

.navabr-three-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84.44%;
    margin: 0 auto;
    padding: 16px 0 ;
}
.logo-img{
   width: 32px;
   height: 32px;
   
}

.logo-img2{
    /* border: 1px solid red; */
    width: 74px;
    font-weight: bolder;
    height: 20px;
    margin-left: 10px;
    margin-top: 3px;
    font-family: "Inter", sans-serif;
}
.logo{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
 .nav-list{
    font-size: 16px;
    font-weight: 800;
    display: flex;
    gap:32px ;
    align-items: center;
    justify-content: center;
}
.nav-list li {
    list-style: none;
    color: #000000;
    cursor: pointer;
}
.nav-list li a{
    text-decoration: none;
    color: #475569;
}

.btn-sign-up{
    background-color: #feffff;
    color: #475569;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 1234px;
}

.btn-log-in{
    background-color: #feffff;
    color: #475569;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 1234px;
}
 .btn-sign-up:hover{
    background-color:#4F46E5;
    color: #feffff;
    transition: 0.3s ease-in-out;
}
.btn-log-in:hover{
    background-color:#4F46E5;
    color: #feffff;
    transition: 0.3s ease-in-out;
}
.navbar-buttons{
    display: flex;
    gap: 10px;
}

/* hero section */

.hero{
    width: 82%;
    margin: 0 auto;
}

.full-hero{
    background-image: url("../Accets/Hero Section/abstract-pui-73-background-wallpaper-gradient\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background: linear-gradient(to bottom, #f1f4ff, #aab8ff); */
    width: full;
}

.top-text{
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}
.design-small{
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
    background-color: #EEF2FF;
    border-radius: 1234px;
    padding: 6px 12px;  
    margin-top: 96px;                                                                                                              
}

.design-big-text{
    font-size: 60px;
    font-weight: 800;
    color: #1E293B;
    margin-top: 24px;
    text-align: center;
}
.design-subtitle{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    text-align: center;
}
.hero-buttons{
    display: flex;
    gap:16px;
    margin-top: 32px;
}
.image-section{
    margin-top: 64px;
}

/* collaborative section */

.collaborate-section{
    padding: 64px 0;
    margin: 0 auto;
    background-color: #F8FAFC;
}

.collaborative-itmes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 82%;
    margin: 0 auto;
    flex-direction: column;
}

.frist-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
.second-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

/* feature section */

.feature-section{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    margin: 0 auto;
}
.feature-heading{
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

.primary{
    font-size: 32px;
    font-weight: 800;
    color: #1E293B;
    margin: 24px 0;
}
.featue-subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #475569;
    text-align: center;
}

.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 32px;
    margin-top: 64px;
    width: 82%; 
    padding-bottom: 96px;
}
.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.feature-title{
    font-size: 20px;
    font-weight: 700;
    color: #1E293B;
    margin-top: 20px;
}
.feature-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    text-align: center;
    margin-top: 8px;
}

/* activities section */
.activity-section{
    padding: 96px 0;
    margin: 0 auto;
    background-color: #F8FAFC;
}

.activities-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}
.design-small-activities{
    font-size: 18px;
    font-weight: 600;
    color: #4F46E5;
    background-color: #EEF2FF;
    border-radius: 50%;
    padding: 14px;   
}
.active-image{
    width: 26px;
    height: 26px;
}
.primary-active{
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
    margin-top: 20px;
}
.featue-subtitle-active{
    font-size: 20px;
    font-weight: 400;
    color: #475569;
    text-align: center;
    margin-top: 20px;
}
.flex-activities-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 64px;
    width: 82%;
    margin: 0 auto;
}
.number{
    font-size: 60px;
    font-weight: 700;
    color: #4F46E5;
}
.activite-item{
    border-right: 1px solid #E2E8F0;
    margin-top: 64px;
    padding: 0 32px;
}
.activite-item-unique{
    margin-top: 64px;
    padding: 0 32px;
}
.text{
    font-size: 18px;
    font-weight: 700;
    color: #475569;
    margin-top: 16px;
}

/* procrastinators review section */
.procrastinators-review-section{
    padding: 96px 0;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.protors-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.design-small-protors{
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
    background-color: #EEF2FF;
    border-radius: 1234px;
    padding: 6px 12px;
}
.protors-center{
    width: 82%;
    margin: 0 auto;
}

.protors-heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 640px;
}
.design-big-text-protors{
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
    margin-top: 24px;
}
.design-subtitle-protors{
    font-size: 20px;
    font-weight: 400;
    color: #475569;
    margin-top: 16px;
    margin-bottom: 64px;
}
.p-review{
    padding: 24px 0;
    padding-left: 28px;
    border-left: 4px solid #E0E7FF ;
}
.p-review-unique{
    padding: 24px 0;
    padding-left: 28px;
    border-left: 4px solid #4F46E5 ;
}
.p-heading{
    font-size: 20px;
    font-weight: 700;
    color: #475569;
    margin-bottom: 12px;
}
.protors-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.p-text{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    margin-bottom: 24px;
}


/* testimonials section */

.testimonials-section{
    padding: 96px 0;
    margin: 0 auto;
    background-color: #F8FAFC;
}
  
  .testmonials-total{
        
        margin-top: 64px;
        width: 82%; 
        margin: 0 auto;
}
.design-small-testmnls{
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
    background-color: #EEF2FF;
    border-radius: 1234px;
    padding: 6px 12px;
}
.design-big-text-testmnls{
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
    margin-top: 24px;
}
.design-subtitle-testmnls{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    color: #475569;
    margin-bottom: 64px;
}
.testimonils-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    gap: 24px;
    text-align: center;
  }
  .t-1{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #E2E8F0;
  }
  
  .name-addrs-testimonils{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .colum-1 {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
  .colum-2 {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
  .colum-3 {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
  .name{
    color: #1E293B;
    font-size: 16px;
    font-weight: 700;
  }
  .address{
    color: #475569;
    font-size: 16px;
    font-weight: 400;
  }
 .total-layout-testimonials{
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    width: 82%;
    margin: 0 auto;
 }
 .t-1{
    width: 346px;
 }
 /* office section  */
 .office-section{
    padding: 96px 0;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.office-layout{
    width: 82%;
    margin:0 auto;
}


.office-heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 800px;
}
.design-small-office{
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
    background-color: #EEF2FF;
    border-radius: 1234px;
    padding: 6px 12px;
}
.design-big-text-office{
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
    margin-top: 24px;
}
.design-subtitle-office{
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    margin-top: 24px;
    margin-bottom: 64px;
}
.offices-location-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  
}
.loca-card{
    border: 1px solid #E2E8F0;
    padding: 24px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
    min-width: 280px;
}
.loc-img{
    margin-top: 24px;
    margin-bottom: 24px;
}
.country{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 800;
    color: #1E293B;
}
.sub-1{
   margin-top: 8px;
   font-size: 16px;
   font-weight: 400;
   color: #1E293B;
   margin-bottom: 6px;
}
.sub-1{
   font-weight: 400;
   color: #1E293B;
   margin-bottom: 6px;
}

/* faq section */
.faq-section{
    padding: 96px 0;
    margin: 0 auto;
    background-color: #F8FAFC;
}
/* faq */
.accordion {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ccc;

  }
  
  .accordion-header {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
  }
  
  .accordion-content p {
    margin: 1rem 0;
  }
  
  .accordion-header.active + .accordion-content {
    max-height: 800px; 
  }
  .icon {
    transition: transform 0.3s ease;
  }
  .accordion-header{
    font-size: 16px;
    font-weight: 800;
    color: #334155;
  }
  .accordion{
    width: full;
  }
  .question{
    padding: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
 .icon{
    margin-left: 20px;
    font-size: 20px;
 }
  